.page-title {
  display: block !important;
  text-align: center;
  font-size: 2rem;
  margin-top: 10px;
}

.form-container {
  width: 400px;
  margin: auto;
}

.ui.brown.button:focus, .ui.brown.buttons .button:focus {
  background-color: #a5673f;
}

